PORT=3000
MONGODB_URI=MONGODB_URI
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=GOOGLE_REFRESH_TOKEN
GOOGLE_USER=GOOGLE_USER
JWT_SECRET=JWT_SECRET
GEMINI_API_KEY=GEMINI_API_KEY
MISTRAL_API_KEY=MISTRAL_API_KEY
BASE_URL=http://localhost:3000